module {{package_name}}.c.{{if_type}};

import core.stdc.stdint;
import rcl;
{{#c_dependencies}}
import {{package_name}}.c.{{if_type}};
{{/c_dependencies}}

extern (C):
@nogc:
nothrow:
{{{c_structs}}}
{{{c_functions}}}
{{{c_typesupports}}}
